    body {
      font-family: Arial, sans-serif;
      background-color: #f4f6f9;
      margin: 0;
      padding: 0;
    }

    .container {
      margin: 50px auto;
      max-width: 800px;
      background-color: #fff;
      border-radius: 8px;
      box-shadow: 0 0 10px rgba(0,0,0,0.1);
      overflow: hidden;
    }

    .header h2 {
      margin: 0;
      font-size: 20px;
    }

    .header a {
      color: white;
      text-decoration: none;
      font-size: 14px;
      margin-left: 10px;
    }

    table {
      width: 100%;
      border-collapse: collapse;
    }

    th, td {
      padding: 15px;
      text-align: left;
    }

    th {
      background-color:#415264;
      color: #f4f6f9;
      font-weight: bold;
    }

    tr:nth-child(even) {
      background-color: #f9f9f9;
    }
    
    .content {
      flex: 1;
      padding: 30px 40px;
    }
    input {
      width: 100%;
      padding: 10px;
      background-color: #ee1539;
      color: white;
      font-size: 14px;
      font-weight: bold;
      border: none;
      border-radius: 5px;
      cursor: pointer;
    }
    .delete-btn {
    background-color: #ef4444;      /* Rouge vif */
    color: white;
    border: none;
    padding: 8px 14px;
    font-size: 14px;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.delete-btn:hover {
    background-color: #dc2626;     /* Rouge plus foncé au survol */
    transform: scale(1.05);        /* Légère mise en avant */
}

.alert-success {
    padding: 15px;
    background-color: #d4edda;
    border: 1px solid #c3e6cb;
    color: #155724;
    border-radius: 4px;
    margin-bottom: 20px;
    font-size: 16px;
}


.pagination {
  display: flex;
  justify-content: center;
  gap: 12px;
  margin-top: 20px;
  font-family: Arial, sans-serif;
}

.pagination a,
.pagination span {
  padding: 6px 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  color: #333;
  text-decoration: none;
  user-select: none;
  transition: background-color 0.2s, color 0.2s;
}

.pagination a:hover {
  background-color: #007bff;
  color: white;
}

.pagination .disabled {
  color: #aaa;
  border-color: #eee;
  cursor: default;
  pointer-events: none;
}
